version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - target: 5432
        published: 5432
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 1

  backend:
    image: bhaskarboruah10/backend:1.0
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: ingress
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydb
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: mypassword
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  frontend:
    image: bhaskarboruah10/react-frontend:1.0
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
        mode: ingress
    depends_on:
      - backend
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

volumes:
  db_data:
